body 
  {
    margin: 0;
    padding: 20px 5%;
    background: rgb(181,55,255);
    background: linear-gradient(230deg, rgba(181,55,255,1) 0%, rgba(255,250,94,1) 25%, rgba(187,49,49,1) 54%, rgba(116,42,31,1) 78%);
    background-size: 300% 300%;
    background-position: 0 50%; 
    animation: borderMove 10s alternate infinite;
  }

  body{
    display: flex;
    justify-content: center;
    align-items: center;
  }